includes:
    - phpstan-baseline.neon
    - tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 9
    paths:
        - bin
        - config
        - public
        - src
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    bootstrapFiles:
        - vendor/autoload.php
        - src/Kernel.php
