parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Business\\Contexts\\Greeting\\Domain\\GreetingStatus\:\:array\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Business/Contexts/Greeting/Domain/GreetingStatus.php

		-
			message: '#^Method App\\Business\\Contexts\\Greeting\\Domain\\GreetingStatus\:\:names\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Business/Contexts/Greeting/Domain/GreetingStatus.php

		-
			message: '#^Method App\\Business\\Contexts\\Greeting\\Domain\\GreetingStatus\:\:values\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Business/Contexts/Greeting/Domain/GreetingStatus.php

		-
			message: '#^Method App\\Kernel\\Persistence\\Adapter\\Doctrine\\Types\\AbstractValueObjectStringType\:\:convertToPHPValue\(\) return type with generic class App\\Kernel\\ValueObject\\AbstractStringValueObject does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Kernel/Persistence/Adapter/Doctrine/Types/AbstractValueObjectStringType.php

		-
			message: '#^Method App\\Kernel\\Utility\\Result\:\:flatMap\(\) should return App\\Kernel\\Utility\\Result\<U, TError of Throwable\> but returns App\\Kernel\\Utility\\Result\<never, Throwable\>\.$#'
			identifier: return.type
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^Method App\\Kernel\\Utility\\Result\:\:map\(\) should return App\\Kernel\\Utility\\Result\<U, TError of Throwable\> but returns App\\Kernel\\Utility\\Result\<never, Throwable\>\.$#'
			identifier: return.type
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^Method App\\Kernel\\Utility\\Result\:\:success\(\) should return App\\Kernel\\Utility\\Result\<TSuccessValue, never\> but returns App\\Kernel\\Utility\\Result\<mixed, Throwable\>\.$#'
			identifier: return.type
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^PHPDoc tag @param for parameter \$value with type TSuccessValue is not subtype of native type object\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^PHPDoc tag @param for parameter \$value with type TValue\|null is not subtype of native type object\|null\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^PHPDoc tag @return with type TValue is not subtype of native type object\.$#'
			identifier: return.phpDocType
			count: 3
			path: src/Kernel/Utility/Result.php

		-
			message: '#^PHPDoc type for property App\\Kernel\\Utility\\Result\:\:\$value with type TValue\|null is not subtype of native type object\|null\.$#'
			identifier: property.phpDocType
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^Template type TSuccessValue of method App\\Kernel\\Utility\\Result\:\:success\(\) is not referenced in a parameter\.$#'
			identifier: method.templateTypeNotInParameter
			count: 1
			path: src/Kernel/Utility/Result.php

		-
			message: '#^Unable to resolve the template type TFailureValue in call to method static method App\\Kernel\\Utility\\Result\<TValue,TError of Throwable\>\:\:failure\(\)$#'
			identifier: argument.templateType
			count: 2
			path: src/Kernel/Utility/Result.php

		-
			message: '#^Method App\\Kernel\\ValueObject\\AbstractStringValueObject\:\:create\(\) has parameter \$args with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Kernel/ValueObject/AbstractStringValueObject.php

		-
			message: '#^Method App\\Kernel\\ValueObject\\AbstractStringValueObject\:\:fromValidatedValue\(\) has parameter \$args with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Kernel/ValueObject/AbstractStringValueObject.php

		-
			message: '#^Method App\\Kernel\\ValueObject\\AbstractStringValueObject\:\:fromValidatedValue\(\) should return static\(App\\Kernel\\ValueObject\\AbstractStringValueObject\<T of string\>\) but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Kernel/ValueObject/AbstractStringValueObject.php

		-
			message: '#^Method App\\Kernel\\ValueObject\\AbstractStringValueObject\:\:validate\(\) has parameter \$args with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Kernel/ValueObject/AbstractStringValueObject.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Kernel/ValueObject/AbstractStringValueObject.php
