{% extends 'base.html.twig' %}

{% block title %}Supervision{% endblock %}

{% block content %}
<div class="bg-slate-50 min-h-screen">
    <main class="container mx-auto px-4 py-8">
        <header class="mb-8">
            <h1 class="text-3xl font-bold tracking-tight text-slate-900">Supervision de l'Activité</h1>
            <p class="mt-2 text-sm text-slate-600">Vue d'ensemble des indicateurs clés du projet.</p>
        </header>

        <section>
            <h2 class="text-xl font-semibold leading-6 text-slate-800 border-b pb-2 mb-4">Contexte "Greeting"</h2>
            <twig:Card class="w-[350px]">
                <twig:Card:Header>
                    <twig:Card:Description>Total des Messages</twig:Card:Description>
                    <twig:Card:Title>{{ greetingStats.total }}</twig:Card:Title>
                </twig:Card:Header>
                <twig:Card:Content>
                    <p>Nombre total de messages créés.</p>
                </twig:Card:Content>
            </twig:Card>
        </section>
    </main>
    <div
        class="data-[state=show]:animate-in data-[state=hide]:animate-out fade-in slide-in-from-top-8 fade-out slide-out-to-top-8 duration-500"
        data-state="show"
        >
        <p>
            If the element has the <code>data-state="show"</code> attribute,<br />
            fade in from 0% opacity,<br />
            slide from top by 8 spacing units (2rem),<br />
            with a 500ms duration.
        </p>
        <p>
            If the element has the <code>data-state="hide"</code> attribute,<br />
            fade out to 0% opacity,<br />
            slide to top by 8 spacing units (2rem),<br />
            with a 500ms duration.
        </p>
        </div>
</div>
{% endblock %}
